<div class="container mt-5">
    <div class="bg"></div>
    <form #form="ngForm" action="">
        <h2 class="heading">Register Here</h2>

        <label for="email">Email: </label>
        <input [(ngModel)]="regObj.email" #email="ngModel" name="email" required type="email">
        <div class="text-danger">
            @if (email.errors?.['required'] && email.touched && email.dirty) {
                <span>This is required</span>
            }
        </div>

        <label for="password">Password: </label>
        <input [(ngModel)]="regObj.password" #password="ngModel" name="password" type="password" required>

        <button class="login-btn" [disabled]="form.invalid" (click)="onRegister()">Register</button>
        <a class="register-btn" routerLink="/login">have an account?</a>
    </form>
</div>
<router-outlet/>